<header id="main-header">
	<div id="logo"><a href="/">K-Style</a></div>
	<nav>
		<%- include('nav-items') %> <!-- include{'nav-items'} 이렇게 {}로 하면 안됨-->
	</nav>
	<button id="mobile-menu-btn">
		<span></span>
		<span></span>
		<span></span>
	</button>
</header>
<aside id="mobile-menu">
	<nav>
		<%- include('nav-items') %>
	</nav>
</aside>