<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= pageTitle %></title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500;900&family=Rubik+Broken+Fax&family=Sevillana&display=swap"
		rel="stylesheet"
	/>
	<link rel="stylesheet" href="/styles/base.css"> <!-- /public/styles/base.css이렇게 경로 안 줘도 됨 미들웨어(app.js)에서 public을 app.use로 봄 -->
	<link rel="stylesheet" href="/styles/navigation.css">
	<script src="/scripts/mobile.js" defer></script> <!-- app.js에서 app.use(express.static('public')) 해줘서 /scripts로 접근가능 -->